/* .container-fluid{
    width: 100%;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    margin-right: auto;
    margin-left: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -0.75rem;
    margin-left: -0.75rem;
} */

h1, h3{
    text-align: center;
}

button{
    min-height: 1px;
    padding: 1.25rem;
    margin: 5px;
}

.centeredDiv{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidedDiv{
    float: left;
    width: 25%;
    text-align: center;
    border: 1px solid;
    margin: 5px;
}