<div class="container-fluid">
    <div class="row">
        <h3>{{ country.name }}</h3>
        <div class="centeredDiv">
            <div class="sidedDiv">
                <div>
                    <h5>Capital</h5>
                    <p>{{ country.capital }}</p>
                </div>
                <hr>
                <div>
                    <h5>Population</h5>
                    <p>{{ country.population }} people</p>
                </div>
                <hr>
                <div>
                    <h5>Area</h5>
                    <p>{{ country.area }} m<sup>2</sup></p>
                </div>
                <hr>
                <div>
                    <h5>Currency</h5>
                    <p>{{ country.currency }}</p>
                </div>
                <hr>
                <div>
                    <h5>GDP</h5>
                    <p>{{ country.gdp }}</p>
                </div>
            </div>
        </div>
    </div>
</div>